#loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  & > img {
    height: 100px;
    aspect-ratio: 1;
    margin: 0 auto;
  }
}
