@import "../../../styles/variables.scss";

#home_wrapper {
  margin-top: 60px;
  background-color: $background-dark;
  display: flex;
  flex-direction: row;
}

#main {
  background-color: $background-light;
  min-height: 99.4vh;
  max-width: 69vw;
  flex-grow: 3;
}

#creation_station {
  height: 500px;
  flex-grow: 1.5;
}

#sticky {
  top: 60px;
  max-width: 32vw;
  position: fixed;
}
