#home_wrapper {
  margin-top: 60px;
  background-color: #f5f6fa;
  display: flex;
  flex-direction: row;
}

#main {
  background-color: #f5f6fa;
  min-height: 99.4vh;
  flex-grow: 3;
}

#creation_station {
  height: 500px;
  flex-grow: 1.5;
}

#sticky {
  top: 60px;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  background-color: #2f3640;
}
